.vs/CleanArchitecture/DesignTimeBuild/.dtbcache.v2
.vs/CleanArchitecture/FileContentIndex/4254787f-cfeb-4423-b4c6-9c5757e89f1a.vsidx
.vs/CleanArchitecture/FileContentIndex/698d9ab5-d2e5-4e9a-af10-9329512d515c.vsidx
.vs/CleanArchitecture/FileContentIndex/be16c0a9-5f87-4524-a55b-baf1f9522307.vsidx
.vs/CleanArchitecture/FileContentIndex/ea5c92fb-bcb7-43e6-b7c2-d951499b8c61.vsidx
.vs/CleanArchitecture/FileContentIndex/f594bfe7-b63d-43be-aec6-bc497c5ad748.vsidx
.vs/CleanArchitecture/v17/.suo
.vs/CleanArchitecture/v17/DocumentLayout.backup.json
.vs/CleanArchitecture/v17/DocumentLayout.json
